<!DOCTYPE html>
<html>
    <head>
        <title>Game</title>
    </head>
    <body>
        <form id="madlib" action="/madlib" method="POST">
        <lebel> Enter a person's name:</lebel>
        <input type="text" name="person"> </input><br><br>
        <lebel> Choose a color:</lebel>
        <select name="color">
            <option  value="white"><label>White</label></option>
            <option  value="brown"><label>Brown</label></option>
            <option  value="black"><label>Black</label></option>
            <lebel> Enter a noun:</lebel>
        </select><br><br>
         <lebel> Enter a Noun:</lebel><br>

        <input type="checkbox" name="noun" value="city">
             <label>City</label></input><br>
        <input type="checkbox" name="noun" value="child">
             <label>Child</label></input><br>
        <input type="checkbox" name="noun" value="swimming">
             <label>Swimming</label></input><br>
        <input type="checkbox" name="noun<br><br>" value="man">
             <label>Man</label></input><br><br>
        <input type="checkbox" name="noun" value="flower">
             <label>Flower</label></input><br>


       


         <br>
        <lebel> Enter an adjective:</lebel>
        <input type="text" name="adj"> </input><br><br>
        <input type="Submit" value="Submit"></input>
            

        </form>
    </body>